TheChampionsAcademyLeague/Service/SOAPS/VideoSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1571063854585" xmlns:ns0="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Schemas/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" name="Untitled" targetNamespace="http://xmlns.example.com/1571063854585">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="DataInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:videoIn" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DataOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:videoOut" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="videoIn">
                <xs:complexType>
                    <xs:attribute name="Duration" type="xs:string"/>
                    <xs:attribute name="ID_Video" type="xs:string"/>
                    <xs:attribute name="Topic" type="xs:string"/>
                    <xs:attribute name="VideoName" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="videoOut">
                <xs:complexType>
                    <xs:attribute name="Duration" type="xs:string"/>
                    <xs:attribute name="ID_Video" type="xs:string"/>
                    <xs:attribute name="Topic" type="xs:string"/>
                    <xs:attribute name="VideoName" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="VideoService">
        <wsdl:port name="VideoPortUpdateEndpoint1" binding="tns:VideoPortUpdateEndpoint1Binding">
            <soap:address location="http://localhost:8882/Service/Video/VideoService.serviceagent/VideoPortUpdateEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="VideoPortGetAllEndpoint1" binding="tns:VideoPortGetAllEndpoint1Binding">
            <soap:address location="http://localhost:8882/Service/Video/VideoService.serviceagent/VideoPortGetAllEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="VideoPortCreateEndpoint1" binding="tns:VideoPortCreateEndpoint1Binding">
            <soap:address location="http://localhost:8882/Service/Video/VideoService.serviceagent/VideoPortCreateEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="VideoPortGetEndpoint1" binding="tns:VideoPortGetEndpoint1Binding">
            <soap:address location="http://localhost:8882/Service/Video/VideoService.serviceagent/VideoPortGetEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="VideoPortDeleteEndpoint1" binding="tns:VideoPortDeleteEndpoint1Binding">
            <soap:address location="http://localhost:8882/Service/Video/VideoService.serviceagent/VideoPortDeleteEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="VideoPortUpdate">
        <wsdl:operation name="Update">
            <wsdl:input message="tns:videoInputUpdate"/>
            <wsdl:output message="tns:videoOutputUpdate"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="VideoPortGetAll">
        <wsdl:operation name="GetAll">
            <wsdl:input message="tns:videoInputGetAll"/>
            <wsdl:output message="tns:videoOutputGetAll"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="VideoPortCreate">
        <wsdl:operation name="Create">
            <wsdl:input message="tns:videoInputCreate"/>
            <wsdl:output message="tns:videoOutputCreate"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="VideoPortGet">
        <wsdl:operation name="Get">
            <wsdl:input message="tns:videoInputGet"/>
            <wsdl:output message="tns:videoOutputGet"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="VideoPortDelete">
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:videoInputDelete"/>
            <wsdl:output message="tns:videoOutputDelete"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VideoPortUpdateEndpoint1Binding" type="tns:VideoPortUpdate">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Update">
            <soap:operation style="document" soapAction="/Service/Video/VideoService.serviceagent/VideoPortUpdateEndpoint1/Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="UpdateIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="UpdateOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VideoPortGetAllEndpoint1Binding" type="tns:VideoPortGetAll">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAll">
            <soap:operation style="document" soapAction="/Service/Video/VideoService.serviceagent/VideoPortGetAllEndpoint1/GetAll"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetAllIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetAllOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VideoPortCreateEndpoint1Binding" type="tns:VideoPortCreate">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Create">
            <soap:operation style="document" soapAction="/Service/Video/VideoService.serviceagent/VideoPortCreateEndpoint1/Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="CreateIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CreateOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VideoPortGetEndpoint1Binding" type="tns:VideoPortGet">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get">
            <soap:operation style="document" soapAction="/Service/Video/VideoService.serviceagent/VideoPortGetEndpoint1/Get"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VideoPortDeleteEndpoint1Binding" type="tns:VideoPortDelete">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Delete">
            <soap:operation style="document" soapAction="/Service/Video/VideoService.serviceagent/VideoPortDeleteEndpoint1/Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="DeleteIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="DeleteOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="videoInputUpdate">
        <wsdl:part name="UpdateIn" element="ns0:DataInput"/>
    </wsdl:message>
    <wsdl:message name="videoOutputUpdate">
        <wsdl:part name="UpdateOut" element="ns0:DataOutput"/>
    </wsdl:message>
    <wsdl:message name="videoInputGetAll">
        <wsdl:part name="GetAllIn" element="ns0:DataInput"/>
    </wsdl:message>
    <wsdl:message name="videoOutputGetAll">
        <wsdl:part name="GetAllOut" element="ns0:DataOutput"/>
    </wsdl:message>
    <wsdl:message name="videoInputCreate">
        <wsdl:part name="CreateIn" element="ns0:DataInput"/>
    </wsdl:message>
    <wsdl:message name="videoOutputCreate">
        <wsdl:part name="CreateOut" element="ns0:DataOutput"/>
    </wsdl:message>
    <wsdl:message name="videoInputGet">
        <wsdl:part name="GetIn" element="ns0:DataInput"/>
    </wsdl:message>
    <wsdl:message name="videoOutputGet">
        <wsdl:part name="GetOut" element="ns0:DataOutput"/>
    </wsdl:message>
    <wsdl:message name="videoInputDelete">
        <wsdl:part name="DeleteIn" element="ns0:DataInput"/>
    </wsdl:message>
    <wsdl:message name="videoOutputDelete">
        <wsdl:part name="DeleteOut" element="ns0:DataOutput"/>
    </wsdl:message>
</wsdl:definitions>