TheChampionsAcademyLeague/Service/Video/Video.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Schemas/Schema.xsd" xmlns:tns="http://xmlns.example.com/1571063877400" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1571063877400" name="TheChampionsLeague">
    <import namespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Schemas/Schema.xsd" location="Video.xsd"/>
    <message name="videoUpdateInput">
        <part name="UpdateIn" element="ns:DataInput"/>
    </message>
    <message name="videoUpdateOutput">
        <part name="UpdateOut" element="ns:DataOutput"/>
    </message>
    <message name="videoGetInput">
        <part name="GetIn" element="ns:DataInput"/>
    </message>
    <message name="videoGetOutput">
        <part name="GetOut" element="ns:DataOutput"/>
    </message>
    <message name="videoGetAllInput">
        <part name="GetAllIn" element="ns:DataInput"/>
    </message>
    <message name="videoGetAllOutput">
        <part name="GetAllOut" element="ns:DataOutput"/>
    </message>
    <message name="videoDeleteInput">
        <part name="DeleteIn" element="ns:DataInput"/>
    </message>
    <message name="videoDeleteOutput">
        <part name="DeleteOut" element="ns:DataOutput"/>
    </message>
    <message name="videoCreateInput">
        <part name="CreateIn" element="ns:DataInput"/>
    </message>
    <message name="videoCreateOutput">
        <part name="CreateOut" element="ns:DataOutput"/>
    </message>
    <portType name="VideoPortUpdate">
        <operation name="Update">
            <input message="tns:videoUpdateInput"/>
            <output message="tns:videoUpdateOutput"/>
        </operation>
    </portType>
    <portType name="VideoPortGet">
        <operation name="Get">
            <input message="tns:videoGetInput"/>
            <output message="tns:videoGetOutput"/>
        </operation>
    </portType>
    <portType name="VideoPortGetAll">
        <operation name="GetAll">
            <input message="tns:videoGetAllInput"/>
            <output message="tns:videoGetAllOutput"/>
        </operation>
    </portType>
    <portType name="VideoPortDelete">
        <operation name="Delete">
            <input message="tns:videoDeleteInput"/>
            <output message="tns:videoDeleteOutput"/>
        </operation>
    </portType>
    <portType name="VideoPortCreate">
        <operation name="Create">
            <input message="tns:videoCreateInput"/>
            <output message="tns:videoCreateOutput"/>
        </operation>
    </portType>
</definitions>