TheChampionsAcademyLeague/Service/Video/Video.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Schemas/Schema.xsd" xmlns:tns="http://xmlns.example.com/1571063877400" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1571063877400" name="TheChampionsLeague">
    <import namespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Schemas/Schema.xsd" location="Video.xsd"/>
    <message name="videoInputUpdate">
        <part name="UpdateIn" element="ns:DataInput"/>
    </message>
    <message name="videoOutputUpdate">
        <part name="UpdateOut" element="ns:DataOutput"/>
    </message>
    <message name="videoInputGet">
        <part name="GetIn" element="ns:DataInput"/>
    </message>
    <message name="videoOutputGet">
        <part name="GetOut" element="ns:DataOutput"/>
    </message>
    <message name="videoInputGetAll">
        <part name="GetAllIn" element="ns:DataInput"/>
    </message>
    <message name="videoOutputGetAll">
        <part name="GetAllOut" element="ns:DataOutput"/>
    </message>
    <message name="videoInputDelete">
        <part name="DeleteIn" element="ns:DataInput"/>
    </message>
    <message name="videoOutputDelete">
        <part name="DeleteOut" element="ns:DataOutput"/>
    </message>
    <message name="videoInputCreate">
        <part name="CreateIn" element="ns:DataInput"/>
    </message>
    <message name="videoOutputCreate">
        <part name="CreateOut" element="ns:DataOutput"/>
    </message>
    <portType name="UpdateVideoPort">
        <operation name="Update">
            <input message="tns:videoInputUpdate"/>
            <output message="tns:videoOutputUpdate"/>
        </operation>
    </portType>
    <portType name="GetVideoPort">
        <operation name="Get">
            <input message="tns:videoInputGet"/>
            <output message="tns:videoOutputGet"/>
        </operation>
    </portType>
    <portType name="GetAllVideoPort">
        <operation name="GetAll">
            <input message="tns:videoInputGetAll"/>
            <output message="tns:videoOutputGetAll"/>
        </operation>
    </portType>
    <portType name="DeleteVideoPort">
        <operation name="Delete">
            <input message="tns:videoInputDelete"/>
            <output message="tns:videoOutputDelete"/>
        </operation>
    </portType>
    <portType name="CreateVideoPort">
        <operation name="Create">
            <input message="tns:videoInputCreate"/>
            <output message="tns:videoOutputCreate"/>
        </operation>
    </portType>
</definitions>