TheChampionsAcademyLeague/Service/WatchedVideos/WatchedVideos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/WatchedVideos/Schema.xsd" xmlns:tns="http://xmlns.example.com/1571748232229" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1571748232229">
    <import namespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/WatchedVideos/Schema.xsd" location="WatchedVideos.xsd"/>
    <message name="WatchedVideosUpdateInput">
        <part name="UpdateIn" element="ns:WatchedVideosDataInput"/>
    </message>
    <message name="WatchedVideosUpdateOutput">
        <part name="UpdateOut" element="ns:WatchedVideosDataOutput"/>
    </message>
    <message name="WatchedVideosGetInput">
        <part name="GetIn" element="ns:WatchedVideosDataInput"/>
    </message>
    <message name="WatchedVideosGetOutput">
        <part name="GetOut" element="ns:WatchedVideosDataOutput"/>
    </message>
    <message name="WatchedVideosGetAllInput">
        <part name="GetAllIn" element="ns:WatchedVideosDataInput"/>
    </message>
    <message name="WatchedVideosGetAllOutput">
        <part name="GetAllOut" element="ns:WatchedVideosDataOutput"/>
    </message>
    <message name="WatchedVideosCreateInput">
        <part name="CreateIn" element="ns:WatchedVideosDataInput"/>
    </message>
    <message name="WatchedVideosCreateOutput">
        <part name="Createout" element="ns:WatchedVideosDataOutput"/>
    </message>
    <message name="WatchedVideosDeleteInput">
        <part name="DeleteIn" element="ns:WatchedVideosDataInput"/>
    </message>
    <message name="WatchedVideosDeleteOutput">
        <part name="DeleteOut" element="ns:WatchedVideosDataOutput"/>
    </message>
    <portType name="WatchedVideosPortUpdate">
        <operation name="Update">
            <input message="tns:WatchedVideosUpdateInput"/>
            <output message="tns:WatchedVideosUpdateOutput"/>
        </operation>
    </portType>
    <portType name="WatchedVideosPortGet">
        <operation name="Get">
            <input message="tns:WatchedVideosGetInput"/>
            <output message="tns:WatchedVideosGetOutput"/>
        </operation>
    </portType>
    <portType name="WatchedVideosPortGetAll">
        <operation name="GetAll">
            <input message="tns:WatchedVideosGetAllInput"/>
            <output message="tns:WatchedVideosGetAllOutput"/>
        </operation>
    </portType>
    <portType name="WatchedVideosPortCreate">
        <operation name="Create">
            <input message="tns:WatchedVideosCreateInput"/>
            <output message="tns:WatchedVideosCreateOutput"/>
        </operation>
    </portType>
    <portType name="WatchedVideosPortDelete">
        <operation name="Delete">
            <input message="tns:WatchedVideosDeleteInput"/>
            <output message="tns:WatchedVideosDeleteOutput"/>
        </operation>
    </portType>
</definitions>