Tibco/TheChampionsAcademyLeague/Service/Skin/SkinGetPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/Skin/Schema.xsd" xmlns:tns="http://xmlns.example.com/1571066611366" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1571066611366">
    <import namespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/Skin/Schema.xsd" location="Skin.xsd"/>
    <message name="skinInputUpdate">
        <part name="part1" element="ns:skinIn"/>
    </message>
    <message name="skinOutputUpdate">
        <part name="part1" element="ns:skinOut"/>
    </message>
    <message name="skinInputGet">
        <part name="part1" element="ns:skinIn"/>
    </message>
    <message name="skinOutputGet">
        <part name="part1" element="ns:skinOut"/>
    </message>
    <portType name="UpdateSkinPort">
        <operation name="Update">
            <input message="tns:skinInputUpdate"/>
            <output message="tns:skinOutputUpdate"/>
        </operation>
    </portType>
    <portType name="GetSkinPort">
        <operation name="Get">
            <input message="tns:skinInputGet"/>
            <output message="tns:skinOutputGet"/>
        </operation>
    </portType>
</definitions>